<!doctype html>
<html>

<head>
  <title>Dice Game</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id='app' v-cloak>
    <v-app>
      <v-content>
        <div class="display-1 text-center">
          Six Dice to 10,000
        </div>
        <v-container v-if="game.isGameStarting()">
          <div class="text-center">
            Welcome to the game.
          </div>
          <div class="text-center">
            <v-btn @click="game.startGame()">Start Game</v-btn>
          </div>
        </v-container>
        
        <v-container v-if="game.isGamePlayable() || game.isGameOver()">
          <v-row>
            <v-col xs=6 v-for="player in game.players" :key="player">
              <div class="white--text text-center title darken-1 "
                v-bind:class="{'primary':player==2,'secondary':player==1}">
                <span class="d-none d-md-inline">Player {{player}}:</span><span> {{game.scores[player-1]}}</span>
              </div>

            </v-col>
          </v-row>
          <v-row v-if="game.isFinalTurn()">
            <v-col>
              Player {{game.playerWhoTriggerFinalRoll+1}} has at least {{game.MAX_SCORE}}. Every other player has one
              roll to beat that score.
            </v-col>
          </v-row>
          <v-row v-if="game.isGameOver()">
            <v-col cols=12 class="text-center">
              The game is over. 
            </v-col>
            <v-col cols=12 class="text-center">
              {{game.getWinnerText()}} 
            </v-col>
            <v-col cols=12 class="text-center">
              <v-btn @click="game.restartGame()">Restart Game</v-btn>
            </v-col>
          </v-row>
          <v-row v-if="game.isGamePlayable()">
            <v-col cols=8>
              <span
                v-bind:class="{'primary--text':(game.currentPlayer==1&&game.isSelected(index)),'secondary--text':game.currentPlayer==0&&game.isSelected(index),'text--lighten-1':!game.contributesToScore(index),'text--darken-1':game.contributesToScore(index)}"
                class="grey--text die dice-size" v-for="(roll,index) in game.rollResult" :key="index"
                v-html="getIcon(roll)" @click="game.selectDie(index)">
              </span>
            </v-col>
            <v-col cols=4>
              <v-card>
                <v-card-text>
                  <v-row>
                    <v-col xs="12" class="text-center">
                      <v-btn :disabled="!game.canRoll()"
                        v-bind:class="{'white--text':game.canRoll(),primary:game.currentPlayer==1&&game.canRoll(),secondary:game.currentPlayer==0&&game.canRoll()}"
                        class="darken-1" @click="game.rollTurn()" icon x-large>
                        <i class="fas fa-dice"></i>
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs="12" class="text-center">
                      <v-btn :disabled="!game.shouldEndTurn()"
                        v-bind:class="{'white--text':game.shouldEndTurn(),primary:game.currentPlayer==1&&game.shouldEndTurn(),secondary:game.currentPlayer==0&&game.shouldEndTurn()}"
                        class="darken-1" @click="game.endTurnScore()" large>+{{game.selectedScore + game.runningScore}}
                      </v-btn>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs="12" class="text-center">
                      <v-btn :disabled="!game.isBadLuck()"
                        v-bind:class="{'white--text':game.isBadLuck(),error:game.isBadLuck()}" class="darken-1"
                        @click="game.endTurnBadLuck()" icon x-large>
                        <i class="fas fa-frown"></i>
                      </v-btn>
                    </v-col>
                  </v-row>
                  <div v-if="game.canRoll()">
                    --
                  </div>
                  <div v-else>
                    You have scoring dice. Select them to continue.
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script type="module">
    import game from "./src/index.js"

    window.addEventListener("beforeunload", (e) => {
      e.preventDefault();
      e.returnValue = '';
    })

    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#4EBABA',
              secondary: '#C4F466',
              accent: '#8c9eff',
              error: '#b71c1c',
            },
          },
        },
      }
      ),
      data: {
        game: game
      },
      mounted() {
        game.resetGame();
      },
      methods: {
        getIcon(roll) {
          switch (roll) {
            case 1:
              return `<i class="fas fa-dice-one"></i>`;
            case 2:
              return `<i class="fas fa-dice-two"></i>`;
            case 3:
              return `<i class="fas fa-dice-three"></i>`;
            case 4:
              return `<i class="fas fa-dice-four"></i>`;
            case 5:
              return `<i class="fas fa-dice-five"></i>`;
            case 6:
              return `<i class="fas fa-dice-six"></i>`;
          }
        }
      },
    });

  </script>
</body>

</html>